<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSCREDHILLS</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo (1).ico">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% include 'header/header.html' %}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('static/images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">Courses</h2>
            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="/">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Courses</span>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
         <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-hdfd.html"><img src="../../static/images/images-course-hdfd.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>HDFD</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Honour's Diploma in Full Stack Developer</h2>
                    <p class="desc mb-4">Key Skills: C, C++, Java, Python, HTML5, CSS3, Bootstrap,JS, React JS, MySQL, Mongo DB &amp; Django OR Spring Boot</p>
                    <p><a href="syllabus-hdfd.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            
                           <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                    <a href="syllabus-data-analytics.html"><img src="../../static/images/images-course_2.jpg" alt="Image" class="img-fluid"></a>
                      <div class="category"><h3>Data Analytics | Data Analyst</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Data Analytics | Data Analyst | VBA</h2>
                    <p class="desc mb-4">Key Skills: Formulas, Filter, Data, DDL, DML, TCL, PPT, BI, SPSS, Tableau &amp; Python Basic</p>
                    <p><a href="syllabus-data-analytics.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-data-science.html">
                            <img src="../../static/images/images-course_5.jpg" alt="Image" class="img-fluid"></a>
                    <div class="category"><h3>Data Science | Data Engineer</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Advanced Diploma in Python Programming</h2>
                    <p class="desc mb-4">Key Skills: C Language, OOPS using C++, Python &amp; Advanced Python Programming</p>
                    <p><a href="syllabus-data-science.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

    <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                    <a href="syllabus-dca.html"><img src="../../static/images/images-course-dca-tally.jpg" alt="Image" class="img-fluid"></a>
                      <div class="category"><h3>DCA (Tally)</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Diploma in Computer Application</h2>
                    <p class="desc mb-4">Key Skills: Windows, MS Office (Word, Excel &amp; Powerpoint), Internet, Tally Prime, &amp; Mini Project</p>
                    <p><a href="syllabus-dca-programming.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                    <a href="syllabus-dca-programming.html"><img src="../../static/images/images-course-dca-programming.jpg" alt="Image" class="img-fluid"></a>
                      <div class="category"><h3>DCA (Programming)</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Diploma in Computer Application</h2>
                    <p class="desc mb-4">Key Skills: Windows, MS Office (Word, Excel &amp; Powerpoint), Internet, C &amp; C++ OR Python, &amp; Mini Project</p>
                    <p><a href="syllabus-dca-programming.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-adpp.html">
                            <img src="../../static/images/images-course-adpp.jpg" alt="Image" class="img-fluid"></a>
                    <div class="category"><h3>ADPP</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Advanced Diploma in Python Programming</h2>
                    <p class="desc mb-4">Key Skills: C Language, OOPS using C++, Python &amp; Advanced Python Programming</p>
                    <p><a href="syllabus-adpp.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-dfjd.html"><img src="../../static/images/images-course-dfjd.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>DFJD</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Diploma in Full Stack Java Developer</h2>
                    <p class="desc mb-4">Key Skills: HTML5, CSS3, Bootstrap, Advanced Java Script, React JS, Core Java, MySQL, Mongo DB &amp; Spring Boot</p>
                    <p><a href="syllabus-dfjd.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-dfpd.html"><img src="../../static/images/images-course-dfpd.jpg" alt="Image" class="img-fluid"></a>
                      <div class="category"><h3>DFPD</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Diploma in Full Stack Python Developer</h2>
                    <p class="desc mb-4">Key Skills: HTML5, CSS3, Bootstrap, Advanced Java Script, React JS, Core Java, MySQL, Mongo DB &amp; Django</p>
                    <p><a href="syllabus-dfpd.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-hdfd.html"><img src="../../static/images/images-course-hdfd.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>HDFD</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Honour's Diploma in Full Stack Developer</h2>
                    <p class="desc mb-4">Key Skills: C, C++, Java, Python, HTML5, CSS3, Bootstrap,JS, React JS, MySQL, Mongo DB &amp; Django OR Spring Boot</p>
                    <p><a href="syllabus-hdfd.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            
            

            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-dpfd.html"><img src="../../static/images/images-course-dpfd.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>DPFD</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Diploma in PHP Full Stack Developer</h2>
                    <p class="desc mb-4">Key Skills: HTML5, CSS3, Bootstrap, Advanced Java Script, React JS, Core MySQL, Mongo DB, PHP &amp; Laravel</p>
                    <p><a href="syllabus-dpfd.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-hdca.html"><img src="../../static/images/images-course-hdca-tally.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>HDCA (Tally)</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Honour's Diploma in Computer Application</h2>
                    <p class="desc mb-4">Key Skills: Windows, MS Office, Internet, HTML5, CSS3, MySQL, Advanced Excel, VBA, Digital marketing &amp; Mini Project</p>
                    <p><a href="syllabus-hdca.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-hdca-programming.html"><img src="../../static/images/images-course-hdca-programming.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>HDCA (Programming)</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Honour's Diploma in Computer Application</h2>
                    <p class="desc mb-4">Key Skills: Windows, MS Office, Internet, HTML5, CSS3, MySQL, C, C++, Python, Digital marketing &amp; Mini Project</p>
                    <p><a href="syllabus-hdca-programming.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div><div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-dot-net.html"><img src="../../static/images/images-course-dot-net.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>Diploma in .NET</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>&gt;Diploma in .NET Programming</h2>
                    <p class="desc mb-4">Key Skills: Programming in C#, .NET Framework, VB .NET, ASP .NET, ADO .NET &amp; Mini Project</p>
                    <p><a href="syllabus-dot-net.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-adjp.html"><img src="../../static/images/images-course-adjp.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>ADJP</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Advanced Diploma in Java Programming</h2>
                    <p class="desc mb-4">Key Skills:C Language, OOPS using C++, HTML5, CSS3, Sun Java &amp; Mini Project</p>
                    <p><a href="syllabus-adjp.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-mdsa.html"><img src="../../static/images/images-course-mdsa.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3 class="text-center">MDSA</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Master Diploma in System Administration</h2>
                    <p class="desc mb-4">Key Skills: Fundamental of Computer, Hardware(A+), Networking(N+), Windows Server &amp; Mini Project</p>
                    <p><a href="syllabus-mdsa.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-dmo.html"><img src="../../static/images/images-course-dmo.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>DMO</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Diploma in MS Office (Microsoft Office) </h2>
                    <p class="desc mb-4">Key Skills: Windows, MS Office - Word, Excel &amp; Powerpoint, Internet &amp; Case Study</p>
                    <p><a href="syllabus-dmo.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-ccae.html"><img src="../../static/images/images-course-ccae.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>CCAE</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Certificate Course in Advanced Excel</h2>
                    <p class="desc mb-4">Key Skills: Advanced Excel, Formulas, Functions, V-Lookup, VBA Programming &amp; Macro</p>
                    <p><a href="syllabus-ccae.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="course-1-item">
                    <figure class="thumnail">
                            <a href="syllabus-tally-prime.html"><img src="../../static/images/images-course-tally-prime.jpg" alt="Image" class="img-fluid"></a>
                     <div class="category"><h3>Tally Prime</h3></div>  
                    </figure>
                    <div class="course-1-content pb-4">
                    <h2>Tally Prime - Certified Computer Accountant (CCA)</h2>
                    <p class="desc mb-4">Key Skills: Introduction, Masters, Tally Vouchers, Reports, Inventory, POS, GST, TDS, TCS, Payroll &amp; Mini Project</p>
                    <p><a href="syllabus-tally-prime.html" class="btn btn-primary rounded-0 px-4">Enroll In This Course</a></p>
                    </div>
                </div>
            </div>

        </div>
        
        </div>
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% extends 'footer/footer.html' %}    

</body>
</html>
