{% extends 'csc/layouts/main.html' %}
{% load static %}
{% block content %}
<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{% static '/css/style.css' %}">
</header>
<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img src="{% static 'image/fullStack.webp' %}" class="w-100" alt="...">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
      <h2 class="mt-0">The Complete ReactJs Course - Basics to Advanced [2024]</h2>
      <h4><p>Learn React JS from scratch with hands-on practice assignments and projects.</p></h4>
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="{% url 'react' %}">Course Details</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h4 class="card-title">Course Information</h4><br>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row"><span class="material-icons">star</span></th>
                <td>Course Duration :</td>
                <td>3 Month</td>
              </tr>
              <tr>
                <th scope="row"><span class="material-icons">star</span></th>
                <td>Lab/Practical Facility:</td>
                <td>Individual</td>
              </tr>
              <tr>
                <th scope="row"><span class="material-icons">star</span></th>
                <td>Interview Skill:</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row"><span class="material-icons">star</span></th>
                <td>After courde :</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row"><span class="material-icons">star</span></th>
                <td>Course Materials:</td>
                <td>Yes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <a class="btn btn-primary" href="{% url 'register' %}" role="button">Register</a>
    </div>
</div>
{% endblock content %}